$bar-width: 20%;

.layout {
  > div:first-child,
  > div:last-child {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $bar-width;
    max-width: 350px;
  }

  > div:first-child {
    left: 0;
    border-right: 1px solid #242529;
  }

  > div:last-child {
    right: 0;
    border-left: 1px solid #242529;
  }

  .center {
    margin: 0 $bar-width;
  }
}
