.popular {
  color: white;
  width: 270px;
  &__cardContainer {
    margin-top: 20px;
    display: flex;
    .popular__poster {
      border-radius: 10px;
    }
    .popular__textContainer {
        margin-left: 10px;
      .popular__headerCard {
        font-size: 16px;
      }
      .popular__genres {
        font-size: 12px;
        color: #999aa5;
      }
      .popular__raiting {
        margin-top: 50px;
      }
    }
  }
  &__btn {
    margin-top: 20px;
    width: 270px;
    border-radius: 10px;
    color: white;
  }
}
